@using WeddingPlanner.Models
@model List<Wedding>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style_dashboard.css">

</head>
<body>
    <div id="container">

        <header>
            <h1>Welcome to the Wedding Planner</h1>
            <p><a asp-action="Logout" asp-controller="Home">Logout</a></p>
        </header>

    <div class="table">

        <table>
            <thead>
                <tr>
                    <th>Wedding</th>
                    <th>Date</th>
                    <th>Guest</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var wed in @Model)
                {
                    <tr>
                        <td><a asp-action="Info" asp-controller="Home" asp-route-WedId="@wed.WeddingId">@wed.WedOne & @wed.WedTwo</a></td>
                        <td>@wed.Date.ToString("MM/dd/yyy")</td>
                        <td>@wed.RSVPUsers.Count</td>
                        @if (@wed.Planner.UserId == ViewBag.UserId)
                        {
                        <td><a asp-action="Delete" asp-controller="Home" asp-route-WedId ="@wed.WeddingId">Delete</a></td>
                        }
                        else
                        {
                            if (@wed.RSVPUsers.Any(a => a.Guest.UserId == ViewBag.UserId))
                            {
                                <td><a asp-action="RSVP" asp-controller="Home" asp-route-WedId ="@wed.WeddingId">Un-RSVP</a></td>
                            }
                            else
                            {
                                <td><a asp-action="RSVP" asp-controller="Home" asp-route-WedId ="@wed.WeddingId">RSVP</a></td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>

        <a asp-action="NewForm" asp-controller="Home"><button>New Wedding</button></a>

    </div>

    </div>
</body>
</html>